<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    <%= namePage %>
  </title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Contraseña</th>
        <th>Tipo de usuario</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% user.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.password %>
          </td>
          <td>
            <%= item.type %>
          </td>
          <td>
            <%= item.status ? 'ALTA':'BAJA' %>
          </td>
          <td>
            <button id="toggleButton<%= item.id %>" onclick="toggleStatus('<%= item.id %>')">
              <%= item.status==='activo' ? 'Dar de baja' : 'Dar de alta' %>
            </button>
            <a href="/AdmistrarUsuario/<%= item.id %>"><button>Editar</button></a>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <script>
    function toggleStatus(userId) {
      const button = document.getElementById(`toggleButton${userId}`);
      const currentStatus = button.textContent.trim(); // Obtener el texto actual del botón

      // Realizar una solicitud fetch para cambiar el estado del usuario
      fetch(`/toggleStatus/${userId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
      })
        .then(response => {
          if (response.ok) {
            // Cambiar el texto del botón según el estado actual del usuario
            button.textContent = currentStatus === "Dar de baja" ? "Dar de alta" : "Dar de baja";
          } else {
            throw new Error('Hubo un problema al cambiar el estado del usuario');
          }
        })
        .catch(error => {
          console.error('Error al cambiar el estado del usuario:', error);
        });
    }
  </script>

</body>

</html>