<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    <%= namePage %>
  </title>
  <link rel="stylesheet" href="/css/styleAdminUser.css">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
  <div id="var">
    <h1>Control de usuarios</h1>
  </div>
  <br>
  <table id="tabla" class="fade-in table table-hover">
    <thead class="thead-gray">
      <tr>
        <th>Nombre</th>
        <th>Contraseña</th>
        <th>Tipo de usuario</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% user.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.password %>
          </td>
          <td>
            <%= item.type %>
          </td>
          <td>
            <%= item.status ? 'ALTA':'BAJA' %>
          </td>
          <td>
            <a href="/upd">
              <button id="toggleButton<%= item.id %>" onclick="toggleStatus('<%= item.id %>')">
                <%= item.status ? 'Dar de baja':'Dar de alta' %>
              </button>
            </a>
            <a href="/AdmistrarUsuario/<%= item.id %>"><button>Editar</button></a>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <script>
    function toggleStatus(userId) {
      const button = document.getElementById(`toggleButton${userId}`);
      const currentStatus = button.textContent.trim(); // Obtener el texto actual del botón

      // Realizar una solicitud fetch para cambiar el estado del usuario
      fetch(`/toggleStatus/${userId}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
      })
        .then(response => {
          if (response.ok) {
            // Cambiar el texto del botón según el estado actual del usuario
            button.textContent = currentStatus === "Dar de baja" ? "Dar de alta" : "Dar de baja";
          } else {
            throw new Error('Hubo un problema al cambiar el estado del usuario');
          }
        })
        .catch(error => {
          console.error('Error al cambiar el estado del usuario:', error);
        });
    }
  </script>
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      
    </div>
    <!-- Copyright -->
  </footer>
</body>

</html>