<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= namePage %>
  </title>
  <link rel="stylesheet" href="/css/styleAdminUser.css">
</head>

<body>
  <div id="var">
    <div>
        <img src="/img/radioytvlogo.png" alt="">
    </div>
    <h1>
        <%= description %>
    </h1>

    <div class="enlaces">
        <a href="/registroInternos">Pasantes</a>
        <a href="/registroVisitas">Registros</a>
        <a href="/historial">Historial de visitantes</a>
        <a href="/registrosPendientes">Pendientes de Salida</a>
        <a href="/registroUsuario">Registrar Usuario</a>
        <a href="/AdmistrarUsuario">Control de Usuarios</a>
        <a href="/hr-visits">Recursos Humanos</a>
        <a href="/historialInternos">Historial de pasante </a>
        <a href="/controlPasantes">Control de Pasantes</a>
    </div>
    <div class="menu-hamburguesa bg-primary">
        <div class="hamburguesa-icono"></div>
    </div>
    <a href="/inicio">
        <svg class="home" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 64 64">
            <path d="M 32 3 L 1 28 L 1.4921875 28.654297 C 2.8591875 30.477297 5.4694688 30.791703 7.2304688 29.345703 L 32 9 L 56.769531 29.345703 C 58.530531 30.791703 61.140812 30.477297 62.507812 28.654297 L 63 28 L 54 20.742188 L 54 8 L 45 8 L 45 13.484375 L 32 3 z M 32 13 L 8 32 L 8 56 L 56 56 L 56 35 L 32 13 z M 26 34 L 38 34 L 38 52 L 26 52 L 26 34 z"></path>
            </svg>
    </a>
</div>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Numero de Folio</th>
        <th>Imagen</th>
        <th>Control de Entrada y Salida</th>
      </tr>
    </thead>
    <tbody>
      <% internt.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.fileNumber %>
          </td>
          <td><img src="<%= item.img %>" alt="Imagen de <%= item.name %>"></td>
          <td>
            <% if (!item.entrance) { %>
              <!-- Si no hay entrada registrada, mostrar botón de entrada -->
              <form action="/interns/entrada/<%= item.id %>" method="POST">
                <button type="submit">Registrar Entrada</button>
              </form>
              <% } else if (!item.exit) { %>
                <!-- Si hay entrada pero no hay salida, mostrar botón de salida -->
                <form action="/interns/salida/<%= item.id %>" method="POST">
                  <button type="submit">Registrar Salida</button>
                </form>
                <% } else { %>
                  <!-- Si ya hay entrada y salida registradas, mostrar mensaje -->
                  Registrado
                  <% } %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</body>

</html>