<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= namePage %></title>
  <link rel="stylesheet" href="/css/styleAdminUser.css">
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Número de Folio</th>
        <th>Imagen</th>
        <th>Control de Entrada y Salida</th>
      </tr>
    </thead>
    <tbody>
      <% interns.forEach(function(intern) { %>
        <tr>
          <td><%= intern.name %></td>
          <td><%= intern.fileNumber %></td>
          <td><img src="<%= intern.img %>" alt="Imagen de <%= intern.name %>"></td>
          <td>
            <% if (!intern.entrance) { %>
              <form action="/interns/entrada/<%= intern.id %>" method="POST">
                <button type="submit">Registrar Entrada</button>
              </form>
            <% } else if (!intern.exit) { %>
              <form action="/interns/salida/<%= intern.id %>" method="POST">
                <button type="submit">Registrar Salida</button>
              </form>
            <% } else { %>
              Registrado
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>

</html>
