<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= namePage %>
  </title>
<!-- Este código incluye los archivos CSS y de fuentes necesarios para la vista editUser. Agrega la biblioteca Font Awesome, Bootstrap CSS, estilos de navegación y pie de página personalizados, y un favicon personalizado. También incluye un archivo CSS personalizado para diseñar la página editUser. -->
  <!-- Agregar la biblioteca Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="icon" type="image/ico" href="/img/logohidalgo.ico">

  <link rel="stylesheet" href="/css/styleEdituser.css">
</head>

<body style="font-family: 'Poppins', sans-serif; ">
  <!-- contenido del encabezado -->
  <div class="fondo"></div>
  <%- include('templates/nav') %>
    <!-- contenedor principal -->
  <!--
    Este archivo representa la vista para editar un usuario en una aplicación web. Contiene un formulario con campos para actualizar el nombre de usuario, la contraseña y el tipo de usuario. El formulario se envía al punto final "/AdmistrarUsuario/<%= user.id %>" mediante el método POST.

    Estructura HTML:
    - El contenedor div contiene todo el contenido de la página.
    -
El div cont-title contiene el título de la página.
    - El div contenedor-form contiene el formulario para editar el usuario.
    - El div form-p representa un campo de formulario y su etiqueta.
    - Los elementos de la etiqueta proporcionan una descripción para cada campo del formulario.
    - Los elementos de entrada permiten a los usuarios ingresar valores para los campos del formulario correspondientes.
    -
El elemento de selección proporciona un menú desplegable para seleccionar el tipo de usuario.
    - El elemento del botón se utiliza para alternar la visibilidad del campo de contraseña.
    - El elemento de entrada con tipo="enviar" se utiliza para enviar el formulario.

    Contenido dinámico:
    - La expresión <%= namePage %> se utiliza para mostrar el nombre de la página.
    - El <%= usuario.
La expresión id %> se utiliza para establecer dinámicamente la URL de acción del formulario.
    - La expresión <%= user.name %> se utiliza para completar previamente el campo de entrada del nombre.
    - ¿El <%=user.type==='...'? 'seleccionado': '' Las expresiones %> se utilizan para preseleccionar la opción apropiada en el menú desplegable de tipo de usuario según el tipo actual del usuario.

    Función de JavaScript:
- La función togglePassword() se llama cuando se hace clic en el botón para alternar la visibilidad del campo de contraseña.

    Nota: Este código está escrito en lenguaje de plantilla EJS (JavaScript integrado), que permite incrustar código JavaScript en plantillas HTML.
    -->
    <div class="container">
      <div class="cont-title">
        <h1>
          <%= namePage %>
        </h1>
      </div>
      <!-- contenedor del formulario -->
      <div class="container-form">
        <form action="/AdmistrarUsuario/<%= user.id %>" method="POST">
          <div class="form-p">
            <label for="name">Nombre:</label>
            <input class="form-control" type="text" id="name" name="name" value="<%= user.name %>">
          </div>
          <div class="form-p">
            <label for="password">Contraseña:</label>
            <div class="ojo">
              <!-- Usar un icono de ojo abierto/cerrado -->
              <input class="form-control" type="password" id="password" name="password">
              <button type="button" onclick="togglePassword()">
                <i id="eyeIcon" class="far fa-eye"></i>
              </button>
            </div>
          </div>
          <div class="form-p">
            <label for="type">Tipo de Usuario:</label>
            <select class="form-control" id="typeUser" name="type">
              <option value="administrador" <%=user.type==='administrador' ? 'selected' : '' %>>Administrador</option>
              <option value="usuario" <%=user.type==='usuario' ? 'selected' : '' %>>Usuario</option>
              <option value="superUsuario" <%=user.type==='superUsuario' ? 'selected' : '' %>>Super Usuario</option>
              <option value="rh" <%=user.type==='rh' ? 'selected' : '' %>>Recursos Humanos</option>
            </select>
          </div>
          <input class="btn btn-lg button" type="submit" value="Guardar Cambios">

        </form>

        <script>
          // Función para mostrar/ocultar la contraseña
          function togglePassword() {
            const passwordInput = document.getElementById('password');
            const eyeIcon = document.getElementById('eyeIcon');
            if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              eyeIcon.classList.remove('far', 'fa-eye');
              eyeIcon.classList.add('far', 'fa-eye-slash');
            } else {
              passwordInput.type = 'password';
              eyeIcon.classList.remove('far', 'fa-eye-slash');
              eyeIcon.classList.add('far', 'fa-eye');
            }
          }
        </script>
      </div>
    </div>
    <div>
      <div class="container-2"></div>
      <footer>   
           <%- include('templates/footer') %>
      </footer>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </div>
   
</body>

</html>