<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    <%= namePage %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleHistoryVi.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
  <nav id="var" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/radioytvlogo.png" alt="Logo">
        </a>
        <h1 class="text-white mb-0" style="font-size: 25px; margin-right: auto;">
            <%= descripcion %>
        </h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <br>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/registroInternos">Pasantes</a>
                </li>
                <li class="nav-item">
                    
                  <a  class="nav-link" href="/registroVisitas">Registros</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/historial">Historial de visitantes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/registrosPendientes">Pendientes de Salida</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="/registroUsuario">Registrar Usuario</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="/AdmistrarUsuario">Control de Usuarios</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="/hr-visits">Recursos Humanos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="/historialInternos">Historial de pasante </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  href="/controlPasantes">Control de Pasantes</a>
                </li>
                <div class="menu-hamburguesa bg-primary">
                  <div class="hamburguesa-icono"></div>
              </div>
                <li class="nav-item">
                  <a href="/inicio">
                    <svg class="home" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 64 64">
                      <path d="M 32 3 L 1 28 L 1.4921875 28.654297 C 2.8591875 30.477297 5.4694688 30.791703 7.2304688 29.345703 L 32 9 L 56.769531 29.345703 C 58.530531 30.791703 61.140812 30.477297 62.507812 28.654297 L 63 28 L 54 20.742188 L 54 8 L 45 8 L 45 13.484375 L 32 3 z M 32 13 L 8 32 L 8 56 L 56 56 L 56 35 L 32 13 z M 26 34 L 38 34 L 38 52 L 26 52 L 26 34 z"></path>
                      </svg>    </a>
              
                  
                  </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <div class="fondo"></div>




  <table id="tabla" class="fade-in table table-hover">
    <thead class="thead-gray">
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Curp</th>
        <th>Identificación</th>
        <th>Departamento</th>
        <th>Procedencia</th>
        <th>Niños</th>
        <th>Gafet</th>
        <th>Numero De Gafete</th>
        <th>Fecha y Hora de entrada</th>
        <th>Fecha y Hora de salida</th>
      </tr>
    </thead>
    <tbody >
      <% registros.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.phone %>
          </td>
          <td>
            <%= item.email %>
          </td>
          <td>
            <%= item.CURP %>
          </td>
          <td>
            <%= item.identification %>
          </td>
          <td>
            <%= item.department %>
          </td>
          <td>
            <%= item.subDepartment %>
          </td>
          <td>
            <%= item.origin %>
          </td>
          <td>
            <%= item.children %>
          </td>
          <td>
            <%= item.badge %>
          </td>
          <td>
            <%= item.entrance %>
          </td>
          <td>
            <%= item.exit %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  

  <script>
    document.getElementById('searchInput').addEventListener('input', function() {
      const searchValue = this.value.toLowerCase();
      const table = document.getElementById('tabla');
      const rows = table.getElementsByTagName('tr');

      for (let i = 1; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        const name = cells[0].textContent || cells[0].innerText;
        const entranceDate = cells[9].textContent || cells[9].innerText;
        const curp = cells[3].textContent || cells[3].innerText;

        if (name.toLowerCase().indexOf(searchValue) > -1 || entranceDate.toLowerCase().indexOf(searchValue) > -1 || curp.toLowerCase().indexOf(searchValue) > -1) {
          rows[i].style.display = '';
        } else {
          rows[i].style.display = 'none';
        }
      }
    });
  </script>
  <br>
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      
    </div>
    <!-- Copyright -->
  </footer>
  
</body>

</html>