<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    <%= namePage %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleHistoryVi.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

  <div id="var">
    <h1>
      <%= descripcion %>
    </h1>
    <div class="enlaces">
      <a href="">Pasantes</a>
      <a href="">Registros</a>
      <a href="">Historial de visitantes</a>
      <a href="">Pendientes de Salida</a>
      <a href="">Registrar Usuario</a>
      <a href="">Control de Usuarios</a>
    </div>
  </div>

  <div id="buscador">
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Buscar...">
      <button type="button" onclick="search()"><i class="bi bi-search"></i></button>
    </div>

    <select id="opcionesSelect" onchange="filter()">
      <option value="hoy">Hoy</option>
      <option value="semana">Esta semana</option>
      <option value="mes">Este mes</option>
      <option value="alfabetico">Orden alfabético</option>
    </select>

  </div>

  <table id="tabla">
    <thead class="thead-gray">
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Curp</th>
        <th>Identificación</th>
        <th>Departamento</th>
        <th>Procedencia</th>
        <th>Gafete</th>
        <th>Fecha y Hora de entrada</th>
        <th>Fecha y Hora de salida</th>
      </tr>
    </thead>
    <tbody>
      <% registros.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.phone %>
          </td>
          <td>
            <%= item.email %>
          </td>
          <td>
            <%= item.CURP %>
          </td>
          <td>
            <%= item.identification %>
          </td>
          <td>
            <%= item.department %>
          </td>
          <td>
            <%= item.origin %>
          </td>
          <td>
            <%= item.badge %>
          </td>
          <td>
            <%= item.entrance %>
          </td>
          <td>
            <%= item.exit %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <script>
    document.getElementById('searchInput').addEventListener('input', function() {
      const searchValue = this.value.toLowerCase();
      const table = document.getElementById('tabla');
      const rows = table.getElementsByTagName('tr');

      for (let i = 1; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        const name = cells[0].textContent || cells[0].innerText;
        const entranceDate = cells[9].textContent || cells[9].innerText;
        const curp = cells[3].textContent || cells[3].innerText;

        if (name.toLowerCase().indexOf(searchValue) > -1 || entranceDate.toLowerCase().indexOf(searchValue) > -1 || curp.toLowerCase().indexOf(searchValue) > -1) {
          rows[i].style.display = '';
        } else {
          rows[i].style.display = 'none';
        }
      }
    });
  </script>
</body>

</html>