<!DOCTYPE html>
<html>

<head>
  <title>
    <%= nombrePagina %>
  </title>
</head>

<body>
  <%= descripcion %>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Curp</th>
          <th>Identificación</th>
          <th>Departamento</th>
          <th>Procedencia</th>
          <th>Niños</th>
          <th>Gafete</th>
        </tr>
      </thead>
      <tbody>
        <% registros.forEach(function(registro) { %>
          <tr>
            <td>
              <%= registro.name %>
            </td>
            <td>
              <%= registro.phone %>
            </td>
            <td>
              <%= registro.email %>
            </td>
            <td>
              <%= registro.CURP %>
            </td>
            <td>
              <%= registro.identification %>
            </td>
            <td>
              <%= registro.department %>
            </td>
            <td>
              <%= registro.origin %>
            </td>
            <td>
              <%= registro.children %>
            </td>
            <td>
              <%= registro.badge %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

</body>

</html>