<!DOCTYPE html>
<html>

<head>
  <title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <%= nombrePagina %>
  </title>
</head>

<body>
  <%= descripcion %>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Curp</th>
          <th>Identificación</th>
          <th>Departamento</th>
          <th>Procedencia</th>
          <th>Niños</th>
          <th>Gafete</th>
          <th>Fecha y Hora de entrada</th>
          <th>Fecha y Hora de salida </th>
        </tr>
      </thead>
      <tbody>
        <% registros.forEach(function(registro) { %>
          <tr>
            <td>
              <%= registro.name %>
            </td>
            <td>
              <%= registro.phone %>
            </td>
            <td>
              <%= registro.email %>
            </td>
            <td>
              <%= registro.CURP %>
            </td>
            <td>
              <%= registro.identification %>
            </td>
            <td>
              <%= registro.department %>
            </td>
            <td>
              <%= registro.origin %>
            </td>
            <td>
              <%= registro.children %>
            </td>
            <td>
              <%= registro.badge %>
            </td>
            <td>
              <%= registro.createdAt %>
            </td>
            <td>
              <%= registro.updatedAt %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

</body>
<link rel="stylesheet" href="public/css/style">

</html>