<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    <%= namePage %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleHistoryVi.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

  <div id="var">
    <h1>
      <%= descripcion %>
    </h1>
    <div class="enlaces">
      <a href="/historyInterns">Pasantes</a>
      <a href="/registroVisitas">Registros</a>
      <a href="/historial">Historial de visitantes</a>
      <a href="/registrosPendientes">Pendientes de Salida</a>
      <a href="/registroUsuario">Registrar Usuario</a>
      <a href="/AdmistrarUsuario">Control de Usuarios</a>
    </div>
  </div>

  <div id="buscador">
    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Buscar...">
      <button type="button" onclick="search()"><i class="bi bi-search"></i></button>
    </div>
  </div>

  <table id="tabla">
    <thead class="thead-gray">
      <tr>
        <th>Nombre</th>
        <th>Num. de Folio</th>
        <th>Num. Control</th>
        <th>Carrera</th>
        <th>Direccion Asignada</th>
        <th>Asesor</th>
        <th>Num. Horas</th>
        <th>Dias</th>
        <th>Horario</th>
        <th>Inicio de Servicio</th>
        <th>Finalizacion de Servicio</th>
        <th>Horas totales a cubrir</th>
        <th>Programa</th>
        <th>Observaciones</th>
        <th>Servicio</th>
        <th>Fecha y Hora de entrada</th>
        <th>Fecha y Hora de salida</th>
        <th>Horas Cumplidas</th>

      </tr>
    </thead>
    <tbody>
      <% registros.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.fileNumber %>
          </td>
          <td>
            <%= item.Mat %>
          </td>
          <td>
            <%= item.career %>
          </td>
          <td>
            <%= item.asignementDirec %>
          </td>
          <td>
            <%= item.adviser %>
          </td>
          <td>
            <%= item.numberHours %>
          </td>
          <td>
            <%= item.days %>
          </td>
          <td>
            <%= item.shedule %>
          </td>
          <td>
            <%= item.startService %>
          </td>
          <td>
            <%= item.endService %>
          </td>
          <td>
            <%= item.totHours %>
          </td>
          <td>
            <%= item.Program %>
          </td>
          <td>
            <%= item.Observations %>
          </td>
          <td>
            <%= item.servicio %>
          </td>
          <td>
            <%= item.entrance %>
          </td>
          <td>
            <%= item.exit %>
          </td>
          <td>
            <%= item.hoursFulfilled %>
          </td>
          <td>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>

  <script>
    document.getElementById('searchInput').addEventListener('input', function () {
      const searchValue = this.value.toLowerCase();
      const table = document.getElementById('tabla');
      const rows = table.getElementsByTagName('tr');

      for (let i = 1; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        const name = cells[0].textContent || cells[0].innerText;
        const entranceDate = cells[9].textContent || cells[9].innerText;
        const curp = cells[3].textContent || cells[3].innerText;

        if (name.toLowerCase().indexOf(searchValue) > -1 || entranceDate.toLowerCase().indexOf(searchValue) > -1 || curp.toLowerCase().indexOf(searchValue) > -1) {
          rows[i].style.display = '';
        } else {
          rows[i].style.display = 'none';
        }
      }
    });
  </script>
</body>

</html>