<!DOCTYPE html>
<html>

<head>
  <title>
    <%= nombrePagina %>
  </title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #4caf50;
      color: white;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>

<body>
  <%= descripcion %>

    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Curp</th>
          <th>Identificación</th>
          <th>Departamento</th>
          <th>Procedencia</th>
          <th>Niños</th>
          <th>Gafete</th>
        </tr>
      </thead>
      <tbody>
        <% registros.forEach(function(registro) { %>
          <tr>
            <td>
              <%= registro.nombre %>
            </td>
            <td>
              <%= registro.telefono %>
            </td>
            <td>
              <%= registro.correo %>
            </td>
            <td>
              <%= registro.curp %>
            </td>
            <td>
              <%= registro.identificacion %>
            </td>
            <td>
              <%= registro.departamento %>
            </td>
            <td>
              <%= registro.procedencia %>
            </td>
            <td>
              <%= registro.ninos %>
            </td>
            <td>
              <%= registro.gafete %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

</body>

</html>