<!DOCTYPE html>
<html lang="es">

<head>
  <title>
    <%= namePage %>
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styleHistoryVi.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>

    <div id="var">
        
            <img src="/img/tiempo.png" alt="">
        <h1>
            <%= descripcion %>
        </h1>
        <div class="enlaces">
            <a href="/registroInternos">Pasantes</a>
            <a href="/registroVisitas">Registros</a>
            <a href="/historial">Historial de visitantes</a>
            <a href="/registrosPendientes">Pendientes de Salida</a>
            <a href="/registroUsuario">Registrar Usuario</a>
            <a href="/AdmistrarUsuario">Control de Usuarios</a>
            <a id="homeR" href="/inicio">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"/>
              </svg>
            </a>
          </div>
    
        
    </div>

    <br>
  <table id="tabla" class="fade-in table table-hover">
    <thead class="thead-gray">
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Curp</th>
        <th>Identificación</th>
        <th>Departamento</th>
        <th>Procedencia</th>
        <th>Niños</th>
        <th>Gafet</th>
        <th>Numero De Gafete</th>
        <th>Fecha y Hora de entrada</th>
        <th>Fecha y Hora de salida</th>
      </tr>
    </thead>
    <tbody >
      <% registros.forEach(function(item) { %>
        <tr>
          <td>
            <%= item.name %>
          </td>
          <td>
            <%= item.phone %>
          </td>
          <td>
            <%= item.email %>
          </td>
          <td>
            <%= item.CURP %>
          </td>
          <td>
            <%= item.identification %>
          </td>
          <td>
            <%= item.department %>
          </td>
          <td>
            <%= item.subDepartment %>
          </td>
          <td>
            <%= item.origin %>
          </td>
          <td>
            <%= item.children %>
          </td>
          <td>
            <%= item.badge %>
          </td>
          <td>
            <%= item.entrance %>
          </td>
          <td>
            <%= item.exit %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  

  <script>
    document.getElementById('searchInput').addEventListener('input', function() {
      const searchValue = this.value.toLowerCase();
      const table = document.getElementById('tabla');
      const rows = table.getElementsByTagName('tr');

      for (let i = 1; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName('td');
        const name = cells[0].textContent || cells[0].innerText;
        const entranceDate = cells[9].textContent || cells[9].innerText;
        const curp = cells[3].textContent || cells[3].innerText;

        if (name.toLowerCase().indexOf(searchValue) > -1 || entranceDate.toLowerCase().indexOf(searchValue) > -1 || curp.toLowerCase().indexOf(searchValue) > -1) {
          rows[i].style.display = '';
        } else {
          rows[i].style.display = 'none';
        }
      }
    });
  </script>
  <br>
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      
    </div>
    <!-- Copyright -->
  </footer>
  
</body>

</html>