<!-- hrVisits.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= namePage %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleRecurVi.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div id="var">
        <div>
            <img src="/img/radioytvlogo.png" alt="">
        </div>
        <h1>
            <%= description %>
        </h1>
    
        <div class="enlaces">
            <a href="/registroInternos">Pasantes</a>
            <a href="/registroVisitas">Registros</a>
            <a href="/historial">Historial de visitantes</a>
            <a href="/registrosPendientes">Pendientes de Salida</a>
            <a href="/registroUsuario">Registrar Usuario</a>
            <a href="/AdmistrarUsuario">Control de Usuarios</a>
        </div>
        <div class="menu-hamburguesa bg-primary">
            <div class="hamburguesa-icono"></div>
        </div>
        <a href="/inicio">
            <svg class="home" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="55" height="55" viewBox="0 0 64 64">
                <path d="M 32 3 L 1 28 L 1.4921875 28.654297 C 2.8591875 30.477297 5.4694688 30.791703 7.2304688 29.345703 L 32 9 L 56.769531 29.345703 C 58.530531 30.791703 61.140812 30.477297 62.507812 28.654297 L 63 28 L 54 20.742188 L 54 8 L 45 8 L 45 13.484375 L 32 3 z M 32 13 L 8 32 L 8 56 L 56 56 L 56 35 L 32 13 z M 26 34 L 38 34 L 38 52 L 26 52 L 26 34 z"></path>
                </svg>
        </a>
    </div>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Buscar...">
        <button type="button" onclick="search()"><i class="bi bi-search"></i></button>
    </div>

    <table id="tabla" class="fade-in">
        <thead class="thead-gray">
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>CURP</th>
                <th>Identificación</th>
                <th>Origen</th>
                <th>Niños</th>
                <th>Número de Pase</th>
                <th>Fecha de Entrada</th>
                <th>Fecha de Salida</th>
            </tr>
        </thead>
        <tbody>
            <% visits.forEach(visit => { %>
                <tr>
                    <td><%= visit.name %></td>
                    <td><%= visit.phone %></td>
                    <td><%= visit.email %></td>
                    <td><%= visit.CURP %></td>
                    <td><%= visit.identification %></td>
                    <td><%= visit.origin %></td>
                    <td><%= visit.children %></td>
                    <td><%= visit.badge %></td>
                    <td><%= visit.entrance %></td>
                    <td><%= visit.exit %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <script>
        document.getElementById('searchInput').addEventListener('input', function() {
          const searchValue = this.value.toLowerCase();
          const table = document.getElementById('tabla');
          const rows = table.getElementsByTagName('tr');
    
          for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            const name = cells[0].textContent || cells[0].innerText;
            const entranceDate = cells[9].textContent || cells[9].innerText;
            const curp = cells[3].textContent || cells[3].innerText;
    
            if (name.toLowerCase().indexOf(searchValue) > -1 || entranceDate.toLowerCase().indexOf(searchValue) > -1 || curp.toLowerCase().indexOf(searchValue) > -1) {
              rows[i].style.display = '';
            } else {
              rows[i].style.display = 'none';
            }
          }
        });
      </script>
</body>
</html>
