<!DOCTYPE html>
<html lang="es">

<!--
    Este código HTML representa la sección principal de la vista "hrVisits".
    Incluye metaetiquetas, título, hojas de estilo CSS y favicon para la página.
    Las hojas de estilo CSS se utilizan para la navegación, el diseño de la página y el pie de página.
    También incluye Bootstrap CSS y Bootstrap Icons para estilos e íconos.
-->
<head>
    <meta charset="UTF-8">
    <title><%= namePage %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleRecurVi.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" type="image/ico" href="/img/logohidalgo.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
<!--
    Este archivo representa la vista de visitas de RR.HH. en el proyecto.
    Contiene el marcado HTML para mostrar la página de visitas de RR.HH.

    Estructura HTML:
    - El elemento <div class="fondo"></div> representa el elemento de fondo.
    - El <%- include('templates/nav') %> incluye la plantilla de navegación.
    -
    El elemento <div class="container"> contiene el contenido principal de la página.
    - El elemento <div class="cont-title"> muestra el título de la página.
    - <h1><%-namePage%></h1> muestra el nombre dinámico de la página.
    - El elemento <div class="search-container"> contiene la entrada y el botón de búsqueda.
    -
    El <input type="text" id="searchInput" placeholder="Buscar..."> es el campo de entrada de búsqueda.
    - El <button type="button" onclick="search()"><i class="bi bi-search"></i></button> es el botón de búsqueda.

    Nota: <%-namePage%> es un valor dinámico que se reemplazará con el nombre de la página real cuando se represente.
    -->
    <div class="fondo"></div>

    <%- include('templates/nav') %>
    <div class="container">
        <div class="cont-title">
            <h1><%-namePage%></h1>
        </div>

        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Buscar...">
            <button type="button" onclick="search()"><i class="bi bi-search"></i></button>
        </div>
    </div>
<!--
    Este código HTML representa una vista de tabla para las visitas de RR.HH.
    Muestra información del visitante como nombre, número de teléfono, correo electrónico, etc.
    Los datos se completan dinámicamente utilizando la matriz 'visitas'.
-->
<div class="container-2">
    <div class="table-responsive table-responsive-scroll">
        <table id="tabla" class="fade-in table">
            <thead class="thead-gray">
                <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo electrónico</th>
                    <th>CURP</th>
                    <th>Identificación</th>
                    <th>Origen</th>
                    <th>Niños</th>
                    <th>Número de pase</th>
                    <th>Fecha de entrada</th>
                    <th>Fecha de salida</th>
                </tr>
            </thead>
            <tbody>
                <% visits.forEach(visit => { %>
                <tr>
                    <td>
                        <%= visit.name %>
                    </td>
                    <td>
                        <%= visit.phone %>
                    </td>
                    <td>
                        <%= visit.email %>
                    </td>
                    <td>
                        <%= visit.CURP %>
                    </td>
                    <td>
                        <%= visit.identification %>
                    </td>
                    <td>
                        <%= visit.origin %>
                    </td>
                    <td>
                        <%= visit.children %>
                    </td>
                    <td>
                        <%= visit.badge %>
                    </td>
                    <td>
                        <%= visit.entrance %>
                    </td>
                    <td>
                        <%= visit.exit %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<div>
    <footer>   
         <%- include('templates/footer') %>
    </footer>
</div>
    <script>
        function normalizeString(str) {
            return str.normalize("NFD").replace(/[\u0300-\u036f]/g, "").toLowerCase();
        }

        document.getElementById('searchInput').addEventListener('input', function () {
            const searchValue = normalizeString(this.value);
            const table = document.getElementById('tabla');
            const rows = table.getElementsByTagName('tr');

            for (let i = 1; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName('td');
                const name = normalizeString(cells[0].textContent || cells[0].innerText);
                const curp = normalizeString(cells[3].textContent || cells[3].innerText);
                const entranceDate = normalizeString(cells[8].textContent || cells[8].innerText);

                if (name.includes(searchValue) || curp.includes(searchValue) || entranceDate.includes(searchValue)) {
                    rows[i].style.display = '';
                } else {
                    rows[i].style.display = 'none';
                }
            }
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>