<!-- hrVisits.ejs -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= namePage %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styleHistoryVi.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div id="var">
      <h1><%= namePage %></h1>
    </div>

    <div class="search-container">
        <input type="text" id="searchInput" placeholder="Buscar...">
        <button type="button" onclick="search()"><i class="bi bi-search"></i></button>
    </div>

    <table id="tabla">
        <thead class="thead-gray">
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>CURP</th>
                <th>Identificación</th>
                <th>Origen</th>
                <th>Niños</th>
                <th>Número de Pase</th>
                <th>Fecha de Entrada</th>
                <th>Fecha de Salida</th>
            </tr>
        </thead>
        <tbody>
            <% visits.forEach(visit => { %>
                <tr>
                    <td><%= visit.name %></td>
                    <td><%= visit.phone %></td>
                    <td><%= visit.email %></td>
                    <td><%= visit.CURP %></td>
                    <td><%= visit.identification %></td>
                    <td><%= visit.origin %></td>
                    <td><%= visit.children %></td>
                    <td><%= visit.badge %></td>
                    <td><%= visit.entrance %></td>
                    <td><%= visit.exit %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <script>
        document.getElementById('searchInput').addEventListener('input', function() {
          const searchValue = this.value.toLowerCase();
          const table = document.getElementById('tabla');
          const rows = table.getElementsByTagName('tr');
    
          for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            const name = cells[0].textContent || cells[0].innerText;
            const entranceDate = cells[9].textContent || cells[9].innerText;
            const curp = cells[3].textContent || cells[3].innerText;
    
            if (name.toLowerCase().indexOf(searchValue) > -1 || entranceDate.toLowerCase().indexOf(searchValue) > -1 || curp.toLowerCase().indexOf(searchValue) > -1) {
              rows[i].style.display = '';
            } else {
              rows[i].style.display = 'none';
            }
          }
        });
      </script>
</body>
</html>
