<!DOCTYPE html>
<html>

<head>
  <title><%= namePage %></title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/stylePendient.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
</head>

<body>
  <div id="var">
    <div>
        <img src="/img/radioytvlogo.png" alt="">
    </div>
    <h1>
        <%= descripcion %>
    </h1>

    <div class="enlaces">
        <a href="/registroInternos">Pasantes</a>
        <a href="/registroVisitas">Registros</a>
        <a href="/historial">Historial de visitantes</a>
        <a href="/registrosPendientes">Pendientes de Salida</a>
        <a href="/registroUsuario">Registrar Usuario</a>
        <a href="/AdmistrarUsuario">Control de Usuarios</a>
    </div>
    <div class="menu-hamburguesa bg-primary">
        <div class="hamburguesa-icono"></div>
    </div>
    <a href="/inicio">
      <svg class="home" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="55" height="55" viewBox="0 0 64 64">
        <path d="M 32 3 L 1 28 L 1.4921875 28.654297 C 2.8591875 30.477297 5.4694688 30.791703 7.2304688 29.345703 L 32 9 L 56.769531 29.345703 C 58.530531 30.791703 61.140812 30.477297 62.507812 28.654297 L 63 28 L 54 20.742188 L 54 8 L 45 8 L 45 13.484375 L 32 3 z M 32 13 L 8 32 L 8 56 L 56 56 L 56 35 L 32 13 z M 26 34 L 38 34 L 38 52 L 26 52 L 26 34 z"></path>
        </svg>    </a>

    
    </a>
</div>

<!--  Contenedor principal  -->
<div class="container">
  <div style="display: flex; justify-content: center;">
    <label for="searchInput">Buscar por nombre curp o fecha (DD/MM/AAAA)</label>
</div>

<div class="search-container">
    <input type="text" id="searchInput" placeholder="Buscar...">
    <button type="button" onclick="search()"><i class="bi bi-search"></i></button>
</div>
<br>
  <table id="tabla">
    <thead class="thead-gray">
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Curp</th>
        <th>Identificación</th>
        <th>Departamento</th>
        <th>Procedencia</th>
        <th>Niños</th>
        <th>Gafete</th>
        <th>Numero De Gafete</th>
        <th>Fecha y Hora de entrada</th>
        <th>Finalizar registro</th>
      </tr>
    </thead>
    <tbody>
      <% registros.forEach(function(item) { %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.phone %></td>
          <td><%= item.email %></td>
          <td><%= item.CURP %></td>
          <td><%= item.identification %></td>
          <td><%= item.department %></td>
          <td><%= item.subDepartment %></td>
          <td><%= item.origin %></td>
          <td><%= item.children %></td>
          <td><%= item.badge %></td>
          <td><%= item.entrance %></td>
          <td>
            <a id="cerrar" class=" btn btn-success" href="/finalizarRegistro/<%= item.id %>" class="finalizar-registro" data-id="<%= item.id %>" onclick="alert('visita completada')"><i class="bi bi-x-lg"></i></a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<script src="/src/controllers/pendingRecords.controllers.js"></script>
</body>

</html>
