<!DOCTYPE html>
<html>

<head>
    <title>
        <%= namePage %>
    </title>
    <!--
        Este código incluye las hojas de estilo CSS y Bootstrap necesarias para la vista de registro.
        También incluye un archivo CSS personalizado para diseñar la página de registro, un archivo CSS de navegación,
        y un archivo CSS de pie de página.
        Además, incluye un favicon para el sitio web.
    -->
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" type="image/ico" href="/img/logohidalgo.ico">
    <style>
        /*
           Este bloque de código contiene el estilo para la vista de registro. Incluye estilos para los elementos de entrada 
           con tipo "number" para eliminar los botones de seleccion  predeterminada. La apariencia de los botones de giro se modifica
            para los navegadores webkit utilizando los elementos -webkit-outer-spin-button y -webkit-inner-spin-button. 
            */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[id="childrenInput"] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body style="font-family: 'Poppins', sans-serif;">
    <!--  Contenedor de fondo  -->
    <div class="fondo"></div>
    <%- include('templates/nav') %>
        <!--  Contenedor principal  -->
        <div class="container">
            <div class="cont-title">
                <h1>
                    <%= namePage %>
                </h1>
            </div>
            <!--  Contenedor del formulario  -->
            <!--
                Este código HTML representa un formulario de registro para los visitantes.
                Incluye varios campos de ingreso como nombre, teléfono, correo electrónico, CURP, identificación, credencial, origen, número de hijos, departamento y subdepartamento.
                El formulario también incluye botones para aumentar y disminuir el número de niños.
                El usuario puede seleccionar el departamento y subdepartamento en los menús desplegables.
                Tras el envío, los datos del formulario se envían al punto final "/registroVisitas" mediante el método POST.
            -->
            <div class="container-form">
                <form action="/registroVisitas" method="POST">
                    <!--  Contenedor de los campos del formulario  -->
                    <div class="form-inputs">
                        <div class="form-p">
                            <label for="">Ingresa tu nombre completo</label>
                            <input class="form-control" type="text" name="name" id="" placeholder="Nombre Completo" required>
                            <label for="">Telefono con 10 caracteres</label>
                            <input class="form-control" type="text" name="phone" placeholder="Telefono" required>
                            <label for="">Correo electronico</label>
                            <input class="form-control" type="email" name="email" placeholder="Correo electronico" required>
                        </div>
                        <div class="form-p">
                            <label for="">CURP</label>
                            <input class="form-control" type="text" name="CURP" placeholder="Curp" required>
                            <label for="">Identificación</label>
                            <select class="form-control" name="identification" required>
                                <option value="">-- Seleccione una opción</option>
                                <option value="INE">INE</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="Licencia">Licencia</option>
                                <option value="Nue">Numero unico de extranjero</option>
                            </select>
                            <label for="">Numero de gafete</label>
                            <select class="form-control" name="badge" id="badgeSelect">
                                <% for(let i=1; i <=50; i++) { %>
                                    <option value="<%= String(i).padStart(3, '0') %>">
                                        <%= String(i).padStart(3, '0' ) %>
                                    </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-p" style="margin-right: 0;">
                            <label for="">Procedencia</label>
                            <input class="form-control" type="text" name="origin" placeholder="Procedencia" required>
                            <label for="">Numero de niños</label>
                            <!--  Botones para incrementar y decrementar el numero de niños  -->
                            <div class="buttons-container">
                                <input class="minus-button btn mb-1" onclick="decrement()" value="-">
                                <input style="width: 56px;" class="children-input form-control mb-1" type="number"
                                    name="children" id="childrenInput" placeholder="Cuantos niños" value="<%= ninos %>">
                                <input class="plus-button btn mb-1" onclick="increment()" value="+">
                            </div>

                            <label for="">Departamento al que se dirige</label>
                            <select class="form-control mb-2" id="mainSelect" name="department" required>
                                <option value="">-- Seleccione una opción --</option>
                                <option value="DG">Direccion General</option>
                                <option value="DCFP">Direccion de coordinacion financiera y planeacion</option>
                                <option value="DT">Direccion de television</option>
                                <option value="DN">Direccion de noticias</option>
                                <option value="DR">Direccion de radio</option>
                                <option value="DI">Direccion de ingenieria</option>
                                <option value="DPE">Direccion de proyectos estrategicos</option>
                                <option value="DC">Direccion de contraloria</option>
                                <option value="DPI">Direccion de promocion e intercambio</option>
                                <option value="DJ">Direccion juridica</option>
                                <option value="IMG">Imagen</option>
                                <option value="RH">Recursos Humanos</option>
                                <option value="ER">Estaciones de radio</option>
                            </select>
                            <select id="subSelect" class="form-control p-0" name="subDepartment" required>
                                <option value="">-- Seleccione una opción --</option>
                            </select>
                        </div>
                    </div>
                    <!--boton de guardado-->
                    <input class="btn button" type="submit" value="Guardar">
                </form>
            </div>
        </div>
        <!--
            Este código representa la vista de registro del proyecto.
            Incluye la plantilla de pie de página utilizando la directiva de inclusión EJS.
        -->
        <div>
            <footer>
                <%- include('templates/footer') %>
            </footer>
        </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    var select = document.querySelector('select[name="identification"]');
    var curpInput = document.querySelector('input[name="CURP"]');
    
    select.addEventListener('change', function() {
        if (this.value === 'Nue') {
            curpInput.disabled = true;
            curpInput.removeAttribute('required');
            curpInput.value = 'N/A'; 
        } else {
            curpInput.disabled = false;
            curpInput.setAttribute('required', '');
            curpInput.value = ''; 
        }
    });
});
    // Definir las opciones correspondientes de cada dpto
    /*\
    Este bloque de código define una función de JavaScript que rellena un menú 
    desplegable en función del valor seleccionado de otro menú desplegable.
    La función escucha un evento de cambio en el menú desplegable 'mainSelect'. 
    Cuando el valor de 'mainSelect' cambia, la función borra las opciones en el menú 
    desplegable 'subSelect' y lo rellena con nuevas opciones basadas en el valor seleccionado.
    El objeto 'subOptions' almacena las opciones disponibles para cada posible valor de 
    'mainSelect'. Cada clave en el objeto corresponde a un valor en 'mainSelect', y el valor asociado es una matriz de
    opciones para 'subSelect'.
    Las variables 'mainSelect' y 'subSelect' son referencias a los elementos HTML con los ID correspondientes.
    La función itera sobre la matriz de opciones para el valor seleccionado de 'mainSelect' y 
    crea un nuevo elemento de opción para cada opción. El valor y el innerHTML de cada opción se establecen
    en el valor correspondiente de la matriz de opciones. Los nuevos elementos de opción se agregan al menú desplegable 'subSelect'.
    Este código se utiliza típicamente en un formulario web donde las opciones en un menú desplegable 
    dependen de la selección realizada en otro menú desplegable.
    Ejemplo de uso:
    - Cuando el usuario selecciona "DG" en el menú desplegable 'mainSelect', el menú desplegable 'subSelect' se rellenará con opciones como "Director general", "Asistente de la dirección general", etc.
    - Cuando el usuario selecciona "DCFP" en el menú desplegable
        */
    var subOptions = {
        "DG": ["Director general", "Asistente de la direccion general", "Auxiliar del dpto. de la direccion general",
            "Recepcion de entrada principal"
        ],
        "DCFP": ["DIR. de coordinacion financiera y plan.", "Subdirector de administracion", "Auxiliar Dir. de coordinacion financiera y plan.",
            "Recursos humanos", "Servicios generales", "Almacen", "Archivo", "Tecnologias de la informacion"
        ],
        "DT": ["Director de television", "Subdirector de contenidos", "Subdireccion de produccion", "Encargada de DPTO de Videoteca", "Encargado de area de deportes",
            "Isla edicion de television", "Cabina de video", "Master", "Jefa de planeacion y posproduccion", "Encargado de Staff y equipos portatiles",
            "Departamento de contenido", "Programacion y videoteca", "Departamento de realizacion", "Departamento de evaluacion y seguimiento",
            "Departamento de produccion", "departamento de eventos"
        ],
        "DN": ["Directora de noticias", "Asistente de redaccion de noticias", "Encargado de la isla de noticias", "Reportero"
        ],
        "DR": ["Director de red estatal de radio", "Secretaria particular DIR. Radio", "Radio Produccion", "Subdirector de radio",
            "Gerente de radio", "Sub. Coord. de noticias de radio", "Cabina de grabacion", "Recepcion entrada principal"
        ],
        "DI": ["Director de ingenieria", "Subdirector de ingenieria", "Estacion terrena", "aula de medios", "central de aparatos"],
        "DPE": ["Director de proyectos estrategicos"],
        "DC": ["Directora de contraloria"],
        "DPI": ["Director de promocion e intercambio"],
        "DJ": ["Director juridico"],
        "IMG": ["Subdirector de imagen"],
        "ER": ["Estacion de radio Jacala", "Estacion de radio Tlanchinol", "Estacion de radio huejutla", "Red estatal de radio"],
        "RH": ["Recursos Humanos"],
    };

    var mainSelect = document.getElementById('mainSelect');
    var subSelect = document.getElementById('subSelect');

    mainSelect.addEventListener('change', function () {
        subSelect.innerHTML = '';

        subSelect.disabled = false;
        var options = subOptions[this.value];

        for (var i = 0; i < options.length; i++) {
            var opt = document.createElement('option');
            opt.value = options[i];
            opt.innerHTML = options[i];
            subSelect.appendChild(opt);
        }
    });


    document.querySelector('input[name="Curp"]').addEventListener('input', function (e) {
        if (e.target.value.length !== 18) {
            e.target.setCustomValidity('El campo Curp debe tener exactamente 18 caracteres.');
        } else {
            e.target.setCustomValidity('');
        }
    });
    // Funciones para incrementar y decrementar el numero de niños
    function increment() {
        var input = document.getElementById("childrenInput");
        input.value = parseInt(input.value) + 1;
    }
    function decrement() {
        var input = document.getElementById("childrenInput");
        if (parseInt(input.value) > 0) {
            input.value = parseInt(input.value) - 1;
        }
    }
</script>

</html>