<!DOCTYPE html>
<html>

<head>
    <title><%= namePage %></title>
    <!-- Comentarios sobre los recursos incluidos -->
    <link rel="stylesheet" href="/css/styleRegister.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="icon" type="image/ico" href="/img/logohidalgo.ico">
    <style>
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[id="childrenInput"] {
            -moz-appearance: textfield;
        }
    </style>
</head>

<body style="font-family: 'Poppins', sans-serif;">
    <div class="fondo"></div>
    <%- include('templates/nav') %>
        <!--  Contenedor principal  -->
        <div class="container">
            <div class="cont-title">
                <h1>
                    <%= namePage %>
                </h1>
            </div>
            <!--  Contenedor del formulario  -->
            <!--
                Este código HTML representa un formulario de registro para los visitantes.
                Incluye varios campos de ingreso como nombre, teléfono, correo electrónico, CURP, identificación, credencial, origen, número de hijos, departamento y subdepartamento.
                El formulario también incluye botones para aumentar y disminuir el número de niños.
                El usuario puede seleccionar el departamento y subdepartamento en los menús desplegables.
                Tras el envío, los datos del formulario se envían al punto final "/registroVisitas" mediante el método POST.
            -->
            <div class="container-form">
                <form action="/registroVisitas" method="POST">
                    <!--  Contenedor de los campos del formulario  -->
                    <div class="form-inputs">
                        <div class="form-p">
                            <label for="">Ingresa Nombre Completo</label>
                            <input class="form-control" type="text" name="name" id="" placeholder="Nombre Completo" required>
                            <label for="">Teléfono</label>
                            <input class="form-control" type="text" name="phone" placeholder="Teléfono" maxlength="10" required onkeypress="return /[0-9]/i.test(event.key)">
                            <label for="">Correo Electrónico</label>
                            <input class="form-control" type="email" name="email" placeholder="Correo Electrónico" required>
                        </div>
                        <div class="form-p">
                            <label for="">CURP</label>
                            <input class="form-control" type="text" name="CURP" placeholder="CURP" maxlength="18" required>
                            <label for="">Identificación</label>
                            <select class="form-control" name="identification" required>
                                <option value="">Seleccione una opción</option>
                                <option value="INE">INE</option>
                                <option value="Pasaporte">Pasaporte</option>
                                <option value="Licencia">Licencia</option>
                                <option value="Nue">Numero unico de extranjero</option>
                            </select>
                            <label for="">N° de Gafete</label>
                            <select class="form-control" name="badge" id="badgeSelect">
                                <% for(let i=1; i <=50; i++) { %>
                                    <option value="<%= String(i).padStart(3, '0') %>">
                                        <%= String(i).padStart(3, '0' ) %>
                                    </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-p" style="margin-right: 0;">
                            <label for="">Procedencia</label>
                            <input class="form-control" type="text" name="origin" placeholder="Procedencia" required>
                            <label for="">Numero de niños</label>
                            <!--  Botones para incrementar y decrementar el numero de niños  -->
                            <div class="buttons-container">
                                <input class="minus-button btn mb-1" onclick="decrement()" value="-" type="button">
                                <input class="children-input form-control mb-1" type="number" name="children" id="childrenInput" placeholder="Cuantos niños" value="<%= ninos %>" readonly>
                                <input class="plus-button btn mb-1" onclick="increment()" value="+" type="button">
                            </div>
                                                      

                            <label for="">Área y Departamento al que se dirige</label>
                            <select class="form-control mb-2" id="mainSelect" name="department" required>
                                <option value=""  disabled selected>Seleccione un Área </option>
                                <option value="DG">Dirección General</option>
                                <option value="DCFP">Dirección de Coordinación Financiera y Planeación</option>
                                <option value="DT">Dirección de Televisión</option>
                                <option value="DN">Dirección de Noticias</option>
                                <option value="DR">Dirección de Radio</option>
                                <option value="DI">Dirección de Ingeniería</option>
                                <option value="DPE">Dirección de Proyectos Estratégicos</option>
                                <option value="DC">Dirección de Contraloría</option>
                                <option value="DPI">Dirección de Promoción e Intercambio</option>
                                <option value="DJ">Dirección jurídica</option>
                                <option value="IMG">Imagen</option>
                            </select>
                            <select id="subSelect" class="form-control p-0" name="subDepartment" required>
                                <option value="">Seleccione un Departamento </option>
                            </select>
                        </div>
                    </div>
                    <!--boton de guardado-->
                    <input class="btn button" type="submit" value="Guardar">
                </form>
            </div>
        </div>
        <!--
            Este código representa la vista de registro del proyecto.
            Incluye la plantilla de pie de página utilizando la directiva de inclusión EJS.
        -->
        <div>
            <footer>
                <%- include('templates/footer') %>
            </footer>
        </div>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

document.addEventListener('DOMContentLoaded', function() {
    var select = document.querySelector('select[name="identification"]');
    var curpInput = document.querySelector('input[name="CURP"]');
    
    select.addEventListener('change', function() {
        if (this.value === 'Nue') {
            curpInput.disabled = true;
            curpInput.removeAttribute('required');
            curpInput.value = 'N/A'; 
        } else {
            curpInput.disabled = false;
            curpInput.setAttribute('required', '');
            curpInput.value = ''; 
        }
    });
});
    // Definir las opciones correspondientes de cada dpto
    /*\
    Este bloque de código define una función de JavaScript que rellena un menú 
    desplegable en función del valor seleccionado de otro menú desplegable.
    La función escucha un evento de cambio en el menú desplegable 'mainSelect'. 
    Cuando el valor de 'mainSelect' cambia, la función borra las opciones en el menú 
    desplegable 'subSelect' y lo rellena con nuevas opciones basadas en el valor seleccionado.
    El objeto 'subOptions' almacena las opciones disponibles para cada posible valor de 
    'mainSelect'. Cada clave en el objeto corresponde a un valor en 'mainSelect', y el valor asociado es una matriz de
    opciones para 'subSelect'.
    Las variables 'mainSelect' y 'subSelect' son referencias a los elementos HTML con los ID correspondientes.
    La función itera sobre la matriz de opciones para el valor seleccionado de 'mainSelect' y 
    crea un nuevo elemento de opción para cada opción. El valor y el innerHTML de cada opción se establecen
    en el valor correspondiente de la matriz de opciones. Los nuevos elementos de opción se agregan al menú desplegable 'subSelect'.
    Este código se utiliza típicamente en un formulario web donde las opciones en un menú desplegable 
    dependen de la selección realizada en otro menú desplegable.
    Ejemplo de uso:
    - Cuando el usuario selecciona "DG" en el menú desplegable 'mainSelect', el menú desplegable 'subSelect' se rellenará con opciones como "Director general", "Asistente de la dirección general", etc.
    - Cuando el usuario selecciona "DCFP" en el menú desplegable
        */
    var subOptions = {
        "DG": ["Director General", "Asistente de la Dirección General", "Auxiliar del Dpto. de la Dirección General",
            "Recepción de Entrada Principal"
        ],
        "DCFP": ["Dir. de Coordinación Financiera y Plan.", "Subdirector de Administración", "Auxiliar Dir. de Coordinación Financiera y Plan.",
            "Recursos humanos", "Servicios Generales", "Almacén", "Archivo", "Tecnologías de la Información"
        ],
        "DT": ["Director de Televisión", "Subdirector de Contenidos", "Subdirección de Producción", "Encargada de Dpto. de Videoteca", "Encargado de Área de Deportes",
            "Isla Edición de Televisión", "Cabina de Video", "Master", "Jefa de Planeación y Posproducción", "Encargado de Staff y Equipos Portatiles",
            "Departamento de Contenido", "Programación y Videoteca", "Departamento de Realización", "Departamento de Evaluación y Seguimiento",
            "Departamento de Producción", "Departamento de Eventos"
        ],
        "DN": ["Directora de Noticias", "Asistente de Redacción de Noticias", "Encargado de la Isla de Noticias", "Reportero"
        ],
        "DR": ["Director de Red Estatal de Radio", "Secretaría Particular Dir. Radio", "Radio Producción", "Subdirector de Radio",
            "Gerente de Radio", "Sub. Coord. de Noticias de Radio", "Cabina de Grabación", "Recepción Entrada Principal"
        ],
        "DI": ["Director de Ingeniería", "Subdirector de Ingeniería", "Estación terrena", "Aula de Medios", "Central de Aparatos"],
        "DPE": ["Director de Proyectos Estrategicos"],
        "DC": ["Directora de Contraloría"],
        "DPI": ["Director de Promoción e Intercambio"],
        "DJ": ["Director Jurídico"],
        "IMG": ["Subdirector de Imagen"],
    };

    const mainSelect = document.getElementById('mainSelect');
    const subSelect = document.getElementById('subSelect');

    mainSelect.addEventListener('change', function () {
        subSelect.innerHTML = '';
        subSelect.disabled = false;
        const options = subOptions[this.value];

        options.forEach(option => {
            const opt = document.createElement('option');
            opt.value = option;
            opt.innerHTML = option;
            subSelect.appendChild(opt);
        });
    });

    document.querySelector('input[name="CURP"]').addEventListener('input', function (e) {
        if (e.target.value.length !== 18) {
            e.target.setCustomValidity('El campo CURP debe tener exactamente 18 caracteres.');
        } else {
            e.target.setCustomValidity('');
        }
    });

    function increment() {
        const input = document.getElementById("childrenInput");
        input.value = parseInt(input.value) + 1;
    }

    function decrement() {
        const input = document.getElementById("childrenInput");
        if (parseInt(input.value) > 0) {
            input.value = parseInt(input.value) - 1;
        }
    }
</script>

</html>